.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.firstChild{
    margin: auto;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.firstChild > * {
    display: block;
    align-self: center;
}

#input, #output {
    width: 400px;
    height: 600px;
}

#convert {
    margin: 300px 10px 100px 10px;
    font-size: 30px;
}

.main .container:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

#namespace {
    margin: 10px;
    width: 200px;
    height: 50px;
}